@use '../../../config' as c;

.laterHourInfo {
  border-radius: 1rem;
  background-color: c.$darkCream;
}

.buttonLaterInfo {
  width: 11rem;
  user-select: none;
  border: none;
  height: fit-content;
  border-radius: 1rem;
  background-color: c.$cream;
  border-bottom: 0.4rem solid c.$darkBlue;
  padding: 0.5rem;
  
  &:hover, &:active {
    box-shadow: 0 0 0.5rem c.$blue;
  }
}