@use '../../../config' as c;

.mainInfoWeather {
  &_header {
    &_top {
      h2 {
        font-family: merriweather, serif;
      }
    }

    &_bottom {
      h5 {
        font-family: merriweather, serif;   
        white-space: nowrap;     
      }

      h3 {
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }

  &_body {
    border-radius: 1rem;
    text-align: center;
    background-color: c.$darkCream;
    width: 100%;

    h4 {
      span {
        font-family: merriweather, serif;
      }
    }
  }
}