.generateWord {
  text-align: center;
  background-color: lightgray;

  button {
    all: unset;
    margin: 0 auto;
    width: fit-content;
    background-color: black;
    border: none;
    color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 0.3rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0.3rem gray;
    }
  }
}