@use '../config' as c;

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 11vh;
  width: 100%;
  z-index: 100;
  background-color: c.$white;
  border-bottom: 0.1rem solid c.$darkBlue;

  i {
    background-image: linear-gradient(to top, c.$red, c.$gray, c.$blue);    
    font-size: 2rem;
    background-clip: text;
    color: transparent;
  }

  h1 {
    font-size: 1.73rem;
    font-family: merriweather, serif;
    margin: 0;
  }
}

@media (max-width:770px) {
  header {
    height: 9vh;

    i {
      font-size: 1.6rem;
    }

    h1 {
      font-size: 1.384rem;
    }
  }
}

@media (max-width:550px) {
  header {
    height: 7vh;

    i {
      font-size: 1.28rem;
    }

    h1 {
      font-size: 1.1072rem;
    }
  }
}