@use '../../config' as c;

.choiceLocation {
  h4 {
    font-size: 1.5rem;
    font-family: merriweather, serif;
    margin: 0;
  }
}

@media (max-width: 700px) {
  .choiceLocation {
    h4 {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 550px) {
  .choiceLocation {
    h4 {
      font-size: 0.96rem;
    }
  }
}
