@use '../../config' as c;

.famousCity {
  button {
    width: 9rem;
    border: none;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 0.4rem solid c.$blue;
    
    h5, h6 {
      white-space: nowrap;
      display: inline;
      font-weight: bold;
      padding: 0 0.3rem;
      border-radius: 0.3rem;
      font-family: merriweather, serif;
      background-color: #808080c5;
    }
  
    &:hover, &:active {
      box-shadow: 0 0 0.7rem c.$blue;
    }
  }
}