@use '../../config' as c;

.inputUser { //form
  background-color: c.$cream;
  border-radius: 1rem;

  input {
    text-align: center;
    padding: 0.3rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    background-color: c.$darkCream;

    &:disabled {
      background-color: c.$cream;
    }
  }

  h5 {
    margin: 0;
    padding: 0;
  }

  h6 {
    font-family: robot, sans-serif;
  }

  button {
    border: none;
    background-color: c.$blue;
    border-bottom: 0.2rem solid c.$darkBlue;
    color: c.$white;
    padding: 0.35rem;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-top: 0.5rem;

    &:hover, &:active {
      box-shadow: 0 0 0.7rem c.$blue;
    }
  }
}