@use './config' as c;

.buttonResetLocation {
  position: relative;
  border: none;
  background-color: c.$blue;
  padding: 0.5rem;
  border-radius: 0.5rem;
  
  i {
    color: c.$white;
  }
  
  .fa-rotate {
    font-size: 1.5rem;
    position: relative;
    padding: 0 0.3rem;
    padding-top: 0.5rem;
    transform: scaleX(-1);
  }
  
  .fa-location-dot {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0.65rem;
    bottom: 1rem;
    text-shadow: 0.1rem 0.1rem 0 c.$blue, -0.1rem 0.1rem 0 c.$blue;
  }

  .text-reset-button {
    opacity: 0;
    position: absolute;
    left: -1.3rem;
    top: 3.5rem;
  
    background-color: c.$white;
    padding: 0.5rem 0.6rem;
    border-radius: 0.5rem;
  
    font-family: merriweather, serif;
    font-weight: bold;
    transition: opacity 0.15s ease-in-out 1s;
  }

  &:hover {
    background-color: c.$white;
    box-shadow: 0 0 0.4rem c.$white;

    i {
      color: c.$blue;
    }

    .fa-location-dot {
      text-shadow: 0.1rem 0.1rem 0 c.$white, -0.1rem 0.1rem 0 c.$white;
    }

    .text-reset-button {
      opacity: 1;
    }
  }
}