@use './config' as c;

body {
  position: relative;
  background-color: c.$white;
  width: 100%;
  height: 100%;
}

main {
  margin-top: 12vh;
  margin-bottom: 1rem;
}

img {
  background-color: c.$blue;
  border-radius: 1rem;
}