@use './config' as c;

body {
  position: relative;
  background-color: c.$white;
  width: 100%;
  height: 100%;
}

main {
  margin-top: 12vh;
  margin-bottom: 0.5rem;
}

img {
  background-color: c.$blue;
  border-radius: 1rem;
}

@media (max-width: 576px) {
  main {
    margin-top: 16vh;
  }
}