@use './config' as c;
@use './general';
@use './header';
@use './today_weather/today';
@use './today_weather/rightNowInfo';
@use './today_weather/laterHourInfo';
@use './icons';
@use './loadingError';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.15s;
  color: c.$black;
  font-family: roboto, sans-serif;
}