@use './config' as c;
@use './general';
@use './headerEl/header';
@use './mainPages/weatherPages/today_weather/today';
@use './mainPages/weatherPages/today_weather/mainInfoWeather';
@use './mainPages/weatherPages/today_weather/laterHourInfo';
@use './icons';
@use './loadingError';
@use './mainPages/weatherPages/laterDayWeather';
@use './headerEl/buttonResetLocation';
@use './mainPages/choiceWeatherPages/choiceLocation';
@use './mainPages/choiceWeatherPages/buttonGetMyLocation';
@use './mainPages/choiceWeatherPages/formInputUser';
@use './flagCountry';
@use './mainPages/choiceWeatherPages/famousCity';
@use './headerEl/changeUnitsBtn';
@use './carouselReactBootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.15s;
  color: c.$black;
  font-family: roboto, sans-serif;
}